{% extends 'layout.html' %}
{% block bodySection %}

	<section id="fh5co-home" data-section="home" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div id="dvMainHeading" class="col-md-8 col-md-offset-2 text-center">
							<h1 class="to-animate">Enabling <span>Experiential Learning</span> In Schools </span></h1>
							<!-- <h2 class="to-animate">100% Free HTML5 Template. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0.</a> <br> Crafted with love by <a href="http://freehtml5.co/" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">FREEHTML5.co</a></h2> -->
							<div class="call-to-action">
								<a href="javascript:void(0)"  onclick="openEmailDiv()" class="demo to-animate"><i class="fa fa-magic"></i>Request Demo</a>
								<a href="javascript:void(0)" onclick="scrollToAboutUs()" id="learnMoreButton"  class="download to-animate"  data-nav-section="services"><i class="ti-info" style="font-size: bold"></i>Learn More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		 <div id="myCarousel" class="carousel slide" style="height: 100vh;margin-top: -100vh; z-index: 100">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol> -->

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url(images/gallery2.jpg);"></div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div> -->
            </div>
            <div class="item">
                Set the second background image using inline CSS below.
                <div class="fill" style="background-image:url('images/gallery11.jpg');"></div>
                <div class="carousel-caption">
                    <h2></h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('images/File_008(2).jpeg')"></div>
                <!-- <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div> -->
            </div>
        </div>

        <!-- Controls -->
        <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a> -->

    </div>
	</section>
	<div id="seekhley-send-email" class="email-wrapper container" onclick="closeEmailDiv(event)">
			<div id="email-input" class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-xs-offset-0 col-lg-6 col-md-8 col-sm-10 col-xs-12">
				<div id="closeButton" onclick="closeDiv(this)" class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10 col-xs-offset-8 col-lg-2 col-md-2 col-sm-2 col-xs-4" style="cursor: pointer; font-size: 1.5em">
					&times
				</div>
				<h3>Please Share Your Details</h3>
				<br />			
				<form class="form form-horizontal" id="emailForm" novalidate="novalidate" onsubmit="return false" style="text-align: left">
					<div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
						<label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">Name: </label>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<input type="text" class="form-control " required="required" placeholder="Please Enter Your Name" id="userName" valid-attr="Please enter your name"/>
						</div>
					</div>
					
					<div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
						<label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">School Name: </label>
						<div class=" col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<input type="text" class="form-control" required="required" placeholder="Please Enter Your School Name" id="schoolName" valid-attr="Please enter your school name" />
						</div>
						
					</div>
					<div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
						<label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">Phone Number: </label>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<input type="text" class="form-control " maxlength="10" required="required" placeholder="Please Enter Your Phone Number" id="userNumber" valid-attr="Please enter phone number" />
						</div>
					</div>
					<div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12">
						<label class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">Email: </label>
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<input type="text" class="form-control " required="required" placeholder="Please Enter Your Email Address" id="emailInput" valid-attr="Please Enter Valid Email Id"/>
						</div>
					</div>
					<div class="form-group col-lg-12 col-sm-12 col-md-12 col-xs-12" style="text-align: center">
						<button class="btn btn-success" onclick="return sendEmail()">Submit</button>
					</div>	
				</form>
			</div>
		</div>
	<section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Who We Are</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">
									Seekhley is an innovative education organization working on the initiative of enabling experiential learning for students in schools. It aims to make education hands on by relating school course with real world applications. Seekhley focusses on inculcating skills, competencies and attitude in students to make them ready for the challenges of 21st century.<br /><br />
									 It is lead by professionals from IIT, IIIT, IIM, MDI with extensive work experience in India and abroad who are focused on complimenting the education system with the needs of modern era
								</h3>
								<!-- <h3>
									
								</h3> -->
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="box-services">
							<div class="icon to-animate">
								<span><i class="icon-chemistry"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Experiential Learning</h3>
								<p>Seekhley uses experiential learning as a tool to deliver core concepts. The activities are backed by relevant research.</p>
							</div>
						</div>

						<!-- <div class="box-services">
							<div class="icon to-animate">
								<span><i class="ti-book"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Course Curriculum</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div> -->
					</div>
					<div class="col-md-3 text-center">
						<div class="box-services">
							<div class="icon to-animate">
								<span><i class="ti-light-bulb"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Future ready skill</h3>
								<p>Seekhley inculcates ‘learning from experience’ as a skill in young minds through its activity based curriculum. These skills have learning advantages which help students in future career enhancement.</p>
							</div>
						</div>

					<!-- 	<div class="box-services">
							<div class="icon to-animate">
								<span><i class="icon-paper-plane"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Technology</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div> -->
					</div>
					<div class="col-md-3 text-center">
						<div class="box-services">
							<div class="icon to-animate">
								<span><i class="ti-book"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Academic Enhancement</h3>
								<p>The program significantly assists teachers by increasing the attentiveness and curiosity in the students. The increase in confidence as result of "I can do it too!" experience amongst children leads to enhanced academic approach and performance.</p>
							</div>
						</div>

						<!-- <div class="box-services">
							<div class="icon to-animate">
								<span><i class="icon-screen-desktop"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Looks Amazing on Devices</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div> -->
					</div>
					<div class="col-md-3 text-center">
						<div class="box-services">
							<div class="icon to-animate">
								<span><i class="fa fa-industry"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Industrial Exposure</h3>
								<p>Industrial visits and sessions by industry professionals are part of the Seekhley experiential learning program which increases their knowledge about future opportunities and positions them to make better career choices. </p>
							</div>
						</div>

						<!-- <div class="box-services">
							<div class="icon to-animate">
								<span><i class="icon-key"></i></span>
							</div>
							<div class="fh5co-post to-animate">
								<h3>Secure Account</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div id="gtco-services">
			<div class="gtco-container">
				
				<div class="row to-animate"><!-- To-Animate -->
					<div class="col-md-12 section-heading text-center gtco-heading">
						<h2>Features</h2>
						<!-- <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p> -->
					</div>
				</div>

				<div class="row to-animate">
					
					<div class="gtco-tabs">
						<ul class="gtco-tab-nav">
							<li class="active"><a href="javascript:void(0)" data-tab="1"><span class="icon visible-xs"><i class="icon-chemistry"></i></span><span class="hidden-xs">Activity</span></a></li>
							<li><a href="javascript:void(0)" data-tab="2"><span class="icon visible-xs"><i class="fa fa-industry"></i></span><span class="hidden-xs">Industrial Visits</span></a></li>
							
						</ul>

						<!-- Tabs -->
						<div class="gtco-tab-content-wrap">

							<div class="gtco-tab-content tab-content active" data-tab-content="1">
								<!-- <div class="col-md-6">
									<div class="icon icon-xlg">
										<i class="icon-command"></i>
									</div>
								</div> -->
								<div class="col-md-12">
									<div class="core-features">
										<div class="grid2 to-animate" style="background-image: url(images/gallery12.jpg);">
										</div>
										<div class="grid2 fh5co-bg-color">
											<div class="core-f">
												<h2 class="to-animate">Core Features</h2>
												<div class="row">
													<div class="col-md-6">
														<div class="core">
															<i class="ti-search to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Research-Based</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<i class="ti-book to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Curriculum-Based</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<i class="ti-desktop to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Technology-Enabled</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="core">
															<i class="ti-game to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Gamified</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<i class="ti-user to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Student-Centered</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<i class="icon-columns2 to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Interdisciplinary</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="gtco-tab-content tab-content" data-tab-content="2">
								<div class="col-md-12">
									<div class="core-features">
										<div class="grid2 to-animate" style="background-image: url(images/FullSizeRender.jpg);">
										</div>
										<div class="grid2 fh5co-bg-color">
											<div class="core-f">
												<!-- <h2 class="to-animate">Core Features</h2> -->
												<div class="row">
													<div class="col-md-12">
														<div class="core">
															<div class="fh5co-post to-animate">
																<i class="ti-star to-animate-2"></i>
																<h3>First-hand experience of real world concept application</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<div class="fh5co-post to-animate">
																<i class="ti-star to-animate-2"></i>
																<h3>Helps students make right career Ccoices</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<div class="fh5co-post to-animate">
																<i class="ti-star to-animate-2"></i>
																<h3>Equipped with state of art safety procedures</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
														<div class="core">
															<div class="fh5co-post to-animate">
																<i class="ti-star to-animate-2"></i>
																<h3>Pre visit induction and post reflection</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															</div>
														</div>
													</div>
													<!-- <div class="col-md-6">
														<div class="core">
															<i class="icon-lightbulb-o to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Gamified</h3>
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															<!-- </div>
														</div>
														<div class="core">
															<i class="icon-trophy to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Student Centered</h3> -->
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															<!-- </div>
														</div>
														<div class="core">
															<i class="icon-columns2 to-animate-2"></i>
															<div class="fh5co-post to-animate">
																<h3>Interdisciplinary</h3> -->
																<!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
															<!-- </div>
														</div>
													</div>  -->
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-team" class="fh5co-bg-color" data-section="team">
		<div class="fh5co-team">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Meet The Team</span></h2>
						<!-- <div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/VishalMalik.jpg" alt="Roger Garfield"></div>
							<h3>Vishal Malik</h3>
							<span class="position">Co-Founder</span>
							<p>Vishal Malik is an alumnus of IIIT- H and held senior leadership positions in technology firms. Before Seekhley, he started an education technology firm, EduTru that has school management products.</p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/AnilPahal.jpg" alt="Roger Garfield"></div>
							<h3>Anil Pahal</h3>
							<span class="position">Co-Founder</span>
							<p> Anil Pahal is an IIT Delhi alumnus. He has over twelve years of experience in algorithmic trading and fund management. He has held leadership positions in various financial companies.</p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/naveen.png" alt="Roger Garfield"></div>
							<h3>Naveen Balhara</h3>
							<span class="position">Senior Manager - Operations</span>
							<p>Naveen Balhara is an alumnus of the University of Nottingham, UK. He has over ten years of experience of operations and management of educational institutions. </p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>

					

				</div>
				<div class="row second-row">
					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/rahul.png" alt="Roger Garfield"></div>
							<h3>Rahul Paul</h3>
							<span class="position">VP - Strategic Alliances</span>
							<p>Rahul Paul is an alumnus of MDI and DCE. He is a member of the National Society for Experiential Learning, USA. He has six years of experience in finance and technology firms.</p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/Sunilupdated.jpg" alt="Roger Garfield"></div>
							<h3>Sunil Kumar</h3>
							<span class="position">VP - Product Delivery</span>
							<p>Sunil Kumar is  alumnus of UIET, Panjab University. He was a 
									silver medallist in engineering. He has experience of school operations and over 4 years of
									corporate experience specializing in recruitment and training.</p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>

					<div class="col-md-4">
						<div class="team-box text-center to-animate-2">
							<div class="user"><img class="img-reponsive" src="images/aishwaryaSharma.jpg" alt="Roger Garfield"></div>
							<h3>Aishwarya Sharma</h3>
							<span class="position">VP - Product Design</span>
							<p>Aishwarya Sharma holds a Master’s degree from the TU Darmstadt, Germany. She has over six years of part-time and full-time teaching experience, and her expertise is of vital importance while designing concept-based activities.</p>
							<!-- <ul class="social-media">
								<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook"></i></a></li>
								<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter"></i></a></li>
								<li><a href="javascript:void(0)" class="dribbble"><i class="icon-dribbble"></i></a></li>
								<li><a href="javascript:void(0)" class="codepen"><i class="icon-codepen"></i></a></li>
								<li><a href="javascript:void(0)" class="github"><i class="icon-github-alt"></i></a></li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-explore" data-section="explore">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate"><span>Gallery</span></h2>
					<!-- <div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div> -->
			</div>
			</div>
		</div>
		<div class="fh5co-project">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url(images/gallery2.jpg);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/gallery3.jpg);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/gallery8.jpg);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="project-grid to-animate-2" style="background-image:  url(images/gallery10.jpg);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
					</div>

					<div class="col-md-4 text-center">
						<div class="project-grid to-animate-2" style="background-image:  url(images/gallery11.jpg);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
						<div class="project-grid to-animate-2" style="background-image:  url(images/gallery13.jpg);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1699.JPG);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1732.JPG);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 text-center">
						<div class="row">
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1733.JPG);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1749.JPG);">
									<div class="desc">
										<h3><a href="javascript:void(0)">Work Title Here</a></h3>
										<span>Web Design</span>

										<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
										<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
									</div>
								</div>
							</div>
						</div>
						<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1750.JPG);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
						<div class="project-grid to-animate-2" style="background-image:  url(images/IMG_1753.JPG);">
							<div class="desc">
								<h3><a href="javascript:void(0)">Work Title Here</a></h3>
								<span>Web Design</span>

								<p class="download"><a href="javascript:void(0)"><i class="icon-download"></i></a></p>
								<p class="love"><a href="javascript:void(0)"><i class="icon-heart-o"></i></a></p>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div> 
		<!-- <div id="fh5co-counter-section" class="fh5co-counters">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Some Fun Facts</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row to-animate">
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Cups of Coffee</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="234" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Client</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Projects</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Finished Projects</span>
					</div>
				</div>
			</div>
		</div> -->
		
	</section>
	<section id="fh5co-testimony" class="fh5co-bg-color" data-section="testimony">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate"><span>Testimonials</span></h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 to-animate">
					<div class="wrap-testimony">
						<div class="owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Sakshima, <a href="javascript:void(0)" class="twitter">Class VI</a></span>
									<blockquote>
										<p>&ldquo;I enjoyed very much and I would like to thank Seekhley for this interesting meeting with us and I also request them to please come again and teach us more in this interesting and interactive manner.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person3.jpg" alt="user">
									</figure> -->
									<span>Vasu Kamboj,  <a href="javascript:void(0)" class="twitter">Class VII</a></span>
									<blockquote>
										<p>&ldquo;Till now we have learnt from books, but today, learning practically was a great experience.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Tisha Singla, <a href="javascript:void(0)" class="twitter">Class VII</a></span>
									<blockquote>
										<p>&ldquo;The workshop (resource allocation) was very interesting. They made us realise how tough it is for our parents to manage with all the expenses.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Aakriti Singhal, <a href="javascript:void(0)" class="twitter">Class X</a></span>
									<blockquote>
										<p>&ldquo;Seekhley team has done a good job by teaching us and making us aware of the Magnetic Effect.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Ms Ruchi Nagpal, <a href="javascript:void(0)" class="twitter"> Bal Bharati Public School</a></span>
									<blockquote>
										<p>&ldquo;Experiential learning has helped my students a lot. Thank you Seekhley for coming and making my students understand better!.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Ms Divya Bharti, <a href="javascript:void(0)" class="twitter"> Satya Public School</a></span>
									<blockquote>
										<p>&ldquo;Seekhley is a wonderful concept. And, your activities are very easy and concept-based which makes the learning so much more advanced in my students.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Mr Ankur Gupta, <a href="javascript:void(0)" class="twitter"> Edkul</a></span>
									<blockquote>
										<p>&ldquo;Experiential learning is really a boon and a necessity for my students. And, seeing the enthusiasm in my students today, I am sure they had a good time learning while having fun at the same time.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<!-- <figure>
										<img src="images/person2.jpg" alt="user">
									</figure> -->
									<span>Mr Jatin Goyal, <a href="javascript:void(0)" class="twitter"> Edkul</a></span>
									<blockquote>
										<p>&ldquo;I think Seekhley has done a fabulous job today. I really like their concept, and would want more such activities to be conducted.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- <div class="getting-started getting-started-1">
		<div class="getting-grid" style="background-image:  url(images/full_image_3.jpg);">
			<div class="desc">
				<h2>Getting <span>Started</span></h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
			</div>
		</div>
		<a href="javascript:void(0)" class="getting-grid2">
			<div class="call-to-action text-center">
				<p href="javascript:void(0)" class="sign-up">Sign Up For Free</p>
			</div>
		</a>
	</div>
	
	<section id="fh5co-pricing" data-section="pricing">
		<div class="fh5co-pricing">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Plans Built For Every One</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Starter</h2>
							<div class="price"><sup class="currency">$</sup>7<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>10 projects</li>
								<li>20 Pages</li>
								<li>20 Emails</li>
								<li>100 Images</li>
							</ul>
							<p><a href="javascript:void(0)" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Regular</h2>
							<div class="price"><sup class="currency">$</sup>19<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>15 projects</li>
								<li>40 Pages</li>
								<li>40 Emails</li>
								<li>200 Images</li>
							</ul>
							<p><a href="javascript:void(0)" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-3 col-sm-6 to-animate">
						<div class="price-box popular">
							<div class="popular-text">Best value</div>
							<h2 class="pricing-plan">Plus</h2>
							<div class="price"><sup class="currency">$</sup>79<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>Unlimitted projects</li>
								<li>100 Pages</li>
								<li>100 Emails</li>
								<li>700 Images</li>
							</ul>
							<p><a href="javascript:void(0)" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="price-box to-animate">
							<h2 class="pricing-plan">Enterprise</h2>
							<div class="price"><sup class="currency">$</sup>125<small>/mo</small></div>
							<p>Basic customer support for small business</p>
							<hr>
							<ul class="pricing-info">
								<li>Unlimitted projects</li>
								<li>Unlimitted Pages</li>
								<li>Unlimitted Emails</li>
								<li>Unlimitted Images</li>
							</ul>
							<p><a href="javascript:void(0)" class="btn btn-primary">Read More</a></p>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-3 to-animate">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. <a href="javascript:void(0)">Learn More</a></p>
					</div>
				</div>

			</div>
		</div>
	</section>	

	

	<section id="fh5co-blog" data-section="blog">
		<div class="fh5co-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Read Our Blog</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 to-animate blog">
						<div class="blog-grid" style="background-image: url(images/full_image_5.jpg);">
							<div class="date">
								<span>03</span>
								<small>Aug</small>
							</div>
						</div>
						<a href="javascript:void(0)" class="desc">
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
							<div class="reading">
								<i class="icon-arrow-right2"></i>
							</div>
						</a>
					</div>

					<div class="col-md-6 to-animate blog">
						<div class="blog-grid" style="background-image: url(images/full_image_4.jpg);">
							<div class="date">
								<span>04</span>
								<small>Aug</small>
							</div>
						</div>
						<a href="javascript:void(0)" class="desc">
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
							<div class="reading">
								<i class="icon-arrow-right2"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="fh5co-faq" class="fh5co-bg-color" data-section="faq">
		<div class="fh5co-faq">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Common Questions</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Everything you need to know before you get started</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>What is Twist?</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>I have technical problem, who do I email? </h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>How do I use Twist features?</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>What language are available?</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>Can I have a username that is already taken?</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
						<div class="box-faq to-animate-2">
							<i class="icon-check2"></i>
							<div class="desc">
								<h3>Is Twist free?</h3>
								<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<section id="fh5co-trusted" data-section="trusted">
		<div class="fh5co-trusted">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="to-animate"><span>Associated Partners</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Schools</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					 <div class="col-md-2 col-sm-6 col-xs-12 col-sm-offset-0 col-md-offset-1">
					 	<div class="partner-logo to-animate-2">
					 		<img src="images/Bal_Bharati_Public_School_logo.jpg" alt="Partners" class="img-responsive">
					 	</div>
					 </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/satyaPublicSchool.png" alt="Partners" class="img-responsive">
						</div>
				    </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/St._Xavier's_School,_Delhi_logo.jpg" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/the pc school  ggg.jpg" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/Logo_CMC.jpg" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				</div>
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<!-- <h2 class="to-animate"><span>Trusted By</span></h2> -->
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="to-animate">Industries</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					 <div class="col-md-2 col-sm-6 col-xs-12 col-sm-offset-0 col-md-offset-1">
					 	<div class="partner-logo to-animate-2">
					 		<img src="images/mother-dairy-to-milk-franchise-b-f5cd985baa.gif" alt="Partners" class="img-responsive">
					 	</div>
					 </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/PARLE_logo.jpg" alt="Partners" class="img-responsive">
						</div>
				    </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/honda-motor-co-ltd-logo.jpg" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-6 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/01-PristineWater-Home-logo.png" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    <div class="col-md-2 col-sm-12 col-xs-12">
				    	<div class="partner-logo to-animate-2">
				    		<img src="images/12477-comp-image.png" alt="Partners" class="img-responsive">
				    	</div>
				    </div>
				    
				</div>
			</div>
		</div>
	</section>

	<!-- <div class="getting-started getting-started-1">
		<div class="getting-grid" style="background-image:  url(images/full_image_3.jpg);">
			<div class="desc">
				<h2>Getting <span>Started</span></h2>
				<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
			</div>
		</div>
		<a href="javascript:void(0)" class="getting-grid2">
			<div class="call-to-action text-center">
				<p href="javascript:void(0)" class="sign-up">Sign Up For Free</p>
			</div>
		</a>
	</div> -->

	<section id="fh5co-footer" role="contentinfo" data-section="contactUs">
		<div class="container">
			<div class="row">
				<div class="col-md-3 to-animate">
				<h3 class="section-title">Contact Us</h3>
					<ul class="contact-info">
						<li><i class="icon-map-marker"></i>4th Floor, Plot Number 404-405, Udyog Vihar Phase 3, Gurgaon, Haryana – 122016</li>
						<li><i class="icon-phone"></i>+91 8802230468</li>
						<li><i class="icon-phone"></i>+91 9971510320</li>
						<li><i class="icon-envelope"></i><a href="javascript:void(0)">rahul.paul@seekhley.com</a></li>
						<li><i class="icon-envelope"></i><a href="javascript:void(0)">sunil.kumar@seekhley.com</a></li>
					</ul>
					<!-- <h3 class="section-title">About Us</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>
					<p class="copy-right">&copy; 2015 Twist Free Template. <br>All Rights Reserved. <br>
						Designed by <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a>
						Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a>
					</p> -->
				</div>

				<div class="col-md-offset-1 col-md-4 to-animate">
					<h3 class="section-title">Connect with Us</h3>
					<ul class="social-media">
						<li><a target="_blank" href="//facebook.com/seekhley" class="facebook"><i class="icon-facebook"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/seekhley" class="twitter"><i class="icon-twitter"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/channel/UC5-mF3LBSXGpO8vb-JViyzg" class="dribbble"><i class="ti-youtube"></i></a></li>
						<li><a target="_blank" href="http://seekhley.tumblr.com/" class="github"><i class="ti-tumblr"></i></a></li>
						<li><a target="_blank" href="https://www.linkedin.com/company/seekhley/" class="linkedin"><i class="ti-linkedin"></i></a></li>
					</ul>
				</div>
				<div class="col-md-4 to-animate">
					<h3 class="section-title">Drop us a line</h3>
					<form class="contact-form">
						<div class="form-group">
							<label for="name" class="sr-only">Name</label>
							<input type="name" class="form-control" id="name" placeholder="Name">
						</div>
						<div class="form-group">
							<label for="email" class="sr-only">Email</label>
							<input type="email" class="form-control" id="email" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="message" class="sr-only">Message</label>
							<textarea class="form-control" id="message" rows="7" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message" onclick="return sendMessage();">
						</div>
					</form>
				</div>
			</div>
			<div style="font-size: 10px; color: gray ! important;" class="row pull-right">
				<a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="opacity: 0.3" src="https://i.creativecommons.org/l/by/3.0/80x15.png"></a><br>This work is licensed under a <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
			</div>
		</div>
	</section><!-- 
	<div id="map" class="fh5co-map"></div> -->

{% endblock %}
	
	

