<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Seekhley</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  <!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FREEHTML5.CO
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<!-- Style -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Icons -->
	<link rel="stylesheet" href="themify/themify-icons.css">
	<link rel="stylesheet" href="./font-awesome-4.6.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="sweetalert/sweetalert.css" />

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<header role="banner" id="fh5co-header">
		<div class="fluid-container">
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<!-- Mobile Toggle Menu Button -->
					<a href="javascript:void(0)" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
					<a class="navbar-brand" href="/"><img src="images/Logo-Seekhley-1.png"  height="35"/></a> 
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="active"><a href="javascript:void(0)" data-nav-section="home" class="jumper"><span>Home</span></a></li>
						<li><a href="javascript:void(0)" data-nav-section="services" class="jumper"><span>About Us</span></a></li>
						<li><a href="javascript:void(0)" data-nav-section="team" class="jumper"><span>Team</span></a></li>
						<li><a href="javascript:void(0)" data-nav-section="explore" class="jumper"><span>Gallery</span></a></li>
						
						<li><a href="javascript:void(0)" data-nav-section="testimony" class="jumper"><span>Testimonials</span></a></li>
						<li><a href="javascript:void(0)" data-nav-section="contactUs" class="jumper"><span>Contact Us</span></a></li>
						<!-- <li><a href="javascript:void(0)" data-nav-section="contactUs" class="jumper"><span>Contact Us</span></a></li> -->
						<li><a href="http://blog.seekhley.com" target="_blank"><span>Blog</span></a></li>
						
						<!-- <li class="call-to-action"><a class="sign-up" href="javascript:void(0)"><span>Sign Up</span></a></li>
						<li class="call-to-action"><a class="log-in" href="javascript:void(0)"><span>Login</span></a></li> -->
					</ul>
				</div>
			</nav>
	  </div>
	</header>
	{% block bodySection %}{% endblock %}
	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
		<!-- Owl Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.countTo.js"></script>
	<script src="js/main.js"></script>
	<script src="sweetalert/sweetalert.min.js" type="text/javascript"></script>
	<!-- <script src="js/jquery.validate.js" type="text/javascript"></script> -->
    <!-- <script src="js/jquery.validate.unobtrusive.js" type="text/javascript"></script>
    <script src="./js/jquery-validate.bootstrap-tooltip.js" type="text/javascript"></script> -->
	
	</body>
</html>